<h1> New Rock! </h1>

<%= form_for :rock do |f| %>
    Name: <%= f.text_field :nick_name %><br>
    Category: <%= f.select :category, ['Igneous', 'Sedimentary', 'Metamorphic'] %><br>
    Major Minerals <%= f.text_area :minerals %><br>
    Outcrop or Boulder? <%= f.select :outcrop, ['Outcrop', 'Boulder'] %><br>
    <%= @
    <%= f.submit %>
<% end %>  