<h1> Rock: </h1>
<h2> Rock Name: <%= @rock.nick_name %></h2>
<h2> Rock Type: <%= @rock.category %></h2>
<h2> Major Minerals: <%= @rock.minerals %></h2>
<h2> Outcrop? : <%= @rock.outcrop %></h2>

<%  if current_user.rocks.include?(Rock.find(params[:id])) %>
    <%= link_to "Edit this rock", edit_rock_path(@rock) %>
    <%= link_to "Delete this rock", rock_path(@rock), method: :delete %>
<% end %>
